body {
    display: flex;
    
}

.background-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 33.3vw;
    height: 100vh;
    background: url(/images/background-image.jpg);
    background-size: cover;
    
}

.brand-and-logo  {
    display: flex;
    justify-content: center;
    background-color: rgba(50,51,50,0.5);

}

.brand {
    font-size: 32px;
    font-weight: bold;
    color: #daedf8;
}

.logo {
    width: 32px;
    font-weight: bold;
}

.form-right {
    width:  60vw;
    height: 100vh;

}



