* {
    box-sizing: border-box;
}

body {
    display: flex;
    background: linear-gradient(to top, #d3dfeb 5%, #58819d 110%);
}

.background-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 33.3vw;
    height: 100vh;
    background: url(/images/background-image.jpg);
    background-size: cover;
    
}

.brand-and-logo  {
    display: flex;
    justify-content: center;
    background-color: rgba(50,51,50,0.3);

}

.brand {
    font-size: 35px;
    font-weight: bold;
    color: #daedf8;
}

.logo {
    width: 35px;
    font-weight: bold;
}

.form-right {
    width:  60vw;
    height: 100vh;

}



